<h2 style="margin-top: 200px; color: rgb(147, 112, 59);" class="text-center">BMI CALCULATOR</h2>
<div class="text-center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzfOJC24T27C6iJI00EsRggqGoTlrXv07WPg&s" alt="">
    
<div><h4 class="text-center p-2">Calculate Your Body Mass Index just by entering your Age,Height&Weight</h4>
    <p class="p-3">
        
        The Body Mass Index (BMI) Calculator can be used to calculate BMI value and corresponding weight status while taking age into consideration. Use the "Metric Units" tab for the International System of Units or the "Other Units" tab to convert units into either US or metric units. Note that the calculator also computes the Ponderal Index in addition to BMI, both of which are discussed below in detail</p>
<div class="text-center m-4">
    <a href="/register">
        <button style="margin-bottom: 100px;" class="btn btn-warning ">Calculate</button>

    </a>
    
</div>